<a href="https://colab.research.google.com/github/Anurag-0-1-A/MYPNYBs/blob/master/Python_Statements/For_Loops_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
for anurag in mylist: #anurag represents objects inside the list
  print(anurag)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for anurag in mylist: 
  print('Anurag Sharma')

Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma
Anurag Sharma

In [ ]:
for num in mylist:
  #check for even
  if num%2==0:
    print(num)
  else:
    print(f'odd number:{num}')

odd number:1
2
odd number:3
4
odd number:5
6
odd number:7
8
odd number:9
10

In [ ]:
list_sum=0

for num in mylist:
  list_sum=list_sum+num
                               #here the line is left to remain outside the for loop       
print(list_sum)
#*******IMPORTANCE OF INDENTATION******

55

In [ ]:
list_sum=0

for num in mylist:
  list_sum=list_sum+num
                                    
  print(list_sum)#here I have given tab to be in sync with the loop

1
3
6
10
15
21
28
36
45
55

In [ ]:
mystring='Hello World'

for akshar in mystring:
  print(akshar)

H
e
l
l
o

W
o
r
l
d

In [ ]:
mystring='Hello World'

for _ in mystring: #Soooo Gooddddd
  print('akshar')

akshar
akshar
akshar
akshar
akshar
akshar
akshar
akshar
akshar
akshar
akshar

In [ ]:
tup=(1,2,3)

for _ in tup:
  print(_)

1
2
3

In [ ]:
mylist=[(1,2),(3,4),(5,6),(7,8)]

In [ ]:
len(mylist)

4

In [ ]:
for item in mylist:
  print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [ ]:
for (a,b) in mylist:#can also be done without parenthesis
  print(a)
  print(b)
#This concept is called Tuple unpacking Where you kind of duplicate the structure of the items.

1
2
3
4
5
6
7
8

In [ ]:
mylist =[(1,2,3),(5,6,7),(8,9,10)]

In [ ]:
for item in mylist:
  print(item)

(1, 2, 3)
(5, 6, 7)
(8, 9, 10)

In [ ]:
for a,b,c in mylist:
  print(b)

2
6
9

In [ ]:
d ={'k1':1,'k2':2,'k3':3}

for item in d:
  print(item)

k1
k2
k3

In [ ]:
#but for dictionary items
d ={'k1':1,'k2':2,'k3':3}

for item in d.items():
  print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
d ={'k1':1,'k2':2,'k3':3}

for key,value in d.items():#tuple unpacking
  print(value)

1
2
3

In [ ]:
d ={'k1':1,'k2':2,'k3':3}

for value in d.values():#tuple unpacking
  print(value)

1
2
3